<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>Timeless Traveller</title>
</head>

<body class="bg-gradient-to-r from-sand via-desert to-sunset flex items-center justify-center h-screen">
    <!-- main container -->
    <section class="md:max-w-3xl w-96 bg-black-dark items-center p-5 rounded-2xl h-auto">
        <!-- field container -->
        <div class="grid justify-center items-center" >
            <div class="max-w space-y-4 justify-center items-center" >
                <h1 class="font-bold text-3xl">Email Verification</h1>
                <hr>
                <p class="text-zinc-50 text-xl">{{Email_verfication}}</p>
                <hr>
                <!-- Get Started button -->
                    <div class="flex justify-center">
                    <button type="submit"
                        class="bg-gradient-to-r from-white to-sunset font-semibold w-full rounded-xl py-2 hover:bg-gradient-to-r hover:from-white-medium hover:to-red-600">Continue
                    </button>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="../script/main.js"></script>
</body>

</html>