<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <title>Timeless Traveller</title>
</head>

<body class="bg-gradient-to-r from-sand via-desert to-sunset flex items-center justify-center h-screen">
    <!-- main container -->
    <section class="md:max-w-4xl bg-black-dark md:grid md:grid-cols-2 items-center gap-10 p-6 rounded-2xl h-auto">
        <!-- field container -->
        <div class="grid justify-center items-center">
            <div class="max-w-80 grid gap-5 justify-center items-center">
                <h1 class="font-bold text-5xl">Login</h1>
                <p class="text-zinc-50 text-lg">Welcome to Timeless Traveller</p>
                <!-- <p class="text-zinc-50 text-lg inline-block">Your gateway to unforgettable adventure</p> -->
                <!-- Form container -->
                <form action="login" class="space-y-5" method="post">
                    <!-- Email field -->
                    <div class="relative">
                        <div
                            class="absolute top-1 left-1 bg-white-medium flex p-2 rounded-full items-center justify-center">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <input type="email" placeholder="Email Address" name="email_address"
                            class="w-full bg-white-light py-2 px-10 rounded-full focus:bg-black focus:outline-none focus:text-zinc-300 focus:ring focus:ring-zinc-700 "
                            required>
                    </div>
                    <!-- Password field -->
                    <div class="relative">
                        <div
                            class="absolute top-1 left-1  bg-white-medium flex p-2 rounded-full items-center justify-center">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <input type="password" placeholder="Password " name="password"
                            class="w-full bg-white-light py-2 px-10 rounded-full focus:bg-black focus:outline-none focus:text-zinc-300 focus:ring focus:ring-zinc-700 "
                            required>
                    </div>
                    <!-- login button -->
                    <button type="submit"
                        class="bg-gradient-to-r from-white to-sunset font-semibold w-80 rounded-full py-2 hover:bg-gradient-to-r hover:from-white-medium hover:to-red-600">login
                    </button>
            </div>
            </form>
            <!-- Register_button -->
            <div class="mt-3 text-xs flex justify-between items-center text-[#002D74] border-t-gray-500">
                <p>Don't have an account?</p>
                <button class="py-2 px-5 bg-white border rounded-xl hover:scale-110 duration-300" type="submit"
                    id="Register_button">Register</button>
            </div>
            <div>
                <a href="Find_Email.html" class="text-xs flex text-[#002D74] border-t-gray-500">Forgot Password?</a>
            </div>
        </div>
        </div>
        <!-- image-container -->
        <div class="hidden md:block md:h-full md:w-full">
            <img src="../static/Images/Desktop-Egypt-Pictures.jpg" alt="login image" class="rounded-xl h-full w-full">
        </div>
    </section>
    <script src="../script/main.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</body>

</html>