<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

    <title>Timeless Traveller</title>
    <link rel="icon" href="../static/Images/Logo_Edited_with_bg.png" class="text-lg">

</head>

<body class="bg-gradient-to-r from-sand via-desert to-sunset flex items-center justify-center h-screen">
    <!-- main container -->
    <section class="md:max-w-7xl bg-black-dark flex flex-col justify-center items-center p-5 rounded-xl h-auto">
        <h1 class="font-bold">Resgistration Options</h1>
        <div class="grid md:grid md:grid-cols-2 items-center gap-16 p-5">

            <form action="register_tourist" method="get">
                <button type="submit"
                    class=" rounded-2xl bg-white-light p-5 hover:scale-110 duration-300 w-full flex flex-col justify-center items-center">
                    <div class="max-w-96 flex justify-center items-center">
                        <img src="../static/Images/tourist.png" alt="tourist_image">
                    </div>
                    <!-- text container -->
                    <div class="text-lg">
                        <h2 class="font-bold">Tourist</h2>
                        <p>Register to facilitate your trip in the cradle of the pharaohs</p>
                    </div>
                </button>
            </form>
            <form action="register_tourguide" method="get">
                <button type="submit"
                    class=" rounded-2xl bg-white-light p-5 hover:scale-110 duration-300 w-full flex flex-col justify-center items-center">
                    <div class="max-w-96 flex justify-center items-center">
                        <img src="../static/Images/tourguide.png" alt="tourist_image">
                    </div>
                    <!-- text container -->
                    <div class="text-lg">
                        <h2 class="font-bold">Tour Guide</h2>
                        <p>Register to effortlessly manage your tour guide activities</p>
                    </div>
                </button>
            </form>

        </div>

    </section>

</body>

</html>